* {
    margin: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 119, 255);
    padding: 20px;
    height: 60px; 
  }
  
  
  .navbar .ant-menu-light {
    color: white;
    background-color: rgb(0, 119, 255);
  }
  
  .dark-mode-switch {
    margin-left: 10px;
  }
  