
.card-item {
    width: 90% ; 
    height: 350px; 
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
    position: relative;
    border-radius: 20px; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  
  }
  .card-item:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  .title,
  .description {
    font-family: sans-serif; 
  }
  .card-image {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .title,
  .description {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    opacity: 0.7;
  }
  
  .title {
    top: 7%; 
    text-align: left;
    left: 10px;
    font-size: 1rem;
    font-weight: 200;
  }
  
  .description {
    top: 22%; 
    text-align: left;
    left: 10px;
    font-size: 1.5rem;
    font-weight: 500; 
  
  }
  .title,
  .description {
    display: flex;
    position: absolute; /* equivalent to absolute in Tailwind */
    z-index: 10;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    gap: 0.5rem; /* equivalent to space-y-2 in Tailwind */
    backdrop-filter: blur(10px); /* equivalent to backdrop-blur-sm in Tailwind */
    background-color: rgba(255, 255, 255, 0.7); /* equivalent to backdrop-opacity-70 in Tailwind */
    border-radius: 1rem; /* equivalent to rounded-2xl in Tailwind */
  }