
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
*{
    font-family:'Montserrat','sans-serif';
}
.nav-flexbox{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
    font-size: 1.3rem;
    box-shadow: 0 2px 9px 0 #00000080;
    position: sticky;
    cursor: pointer;
}
.nav-mid{
    display: flex;
    align-items: center;
    font-size: 1.5rem ;
    font-weight: 600;

}
.nav-right{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem ;
}
.nav-mid-cont{
    margin: 0 1vw;
    color: black;
    
}
.nav-mid-cont:hover{
    color: #3843dd;
    transform: scale(1.1);
    
}
.nav-logo{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #3340ee;
    
}
.nav-logo:hover{
    color: #101aad;
}
.nav-search{
    margin-right: 2vh;
}
.nav-search-input{
    font-size: 1.25rem;
    color: black;
    border: 1px solid #d7a9eb;
}
.nav-search-input:focus{
    border-color: #c15feb;
}
.search-location{
    margin:0 0 0 5vw;
    padding: 1vh 1.5vh;
    border: 2px solid rgb(37, 220, 77);
    border-radius: 5px 0px 0px 5px;
    font-size: 1.3rem;
}
.search-location:focus{
    outline: none;
}