.modal-div{
    width: 60%;
    display: block;
    margin: 5vh auto;
    background-color: blue;
    font-family: "Montserrat";
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.suggest-subheader{
    text-align: center;
    margin:4vh 0;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 500;
    color: black;
}
.input-box{
   background-color:inherit;
   border:none;
   border-bottom:2px solid black;
   border-radius:none;
   font-size: 1.5rem;
   border-color: blueviolet;
   padding: 1px 5px;
   width: 50%;
   
}
.input-box:focus{
    outline: none;
    border-color: rgb(14, 5, 138);
}
.input-header{
    font-size: 1.25rem;
    color: #7B66FF;
    font-weight: 600;
    font-family: "Montserrat";
    margin-bottom: 0.5rem;
}
.suggest-textarea{
      width: 80%;
      margin: 1vh 0;
      border-radius: 5px;
      background-color: #F3F8FF;
      border: 2px solid #7B66FF;
      font-size: 1.5rem;
      padding: 5px;
}
.suggest-textarea:focus{
    border-color: rgb(14, 5, 138);
}
.suggest-btn{
    display: block;
    margin: auto;
    padding: 1vh 4vh;
    font-size: 1.5rem;
    background-color: #7B66FF;
    color: white;
    border: none;
    box-shadow:3px 3px 3px black ;
    border-radius:5px ;
    cursor: pointer;
}
.suggest-btn:active{
    box-shadow: none;
}
.suggest-btn:hover{
    background-color: #4833ce;
}
.banner-img-suggest{
    width:40%;
    border-radius:10px 0 0 10px;
    max-height:fit-content;
}
.input-suggest-flexbox{
    display: flex;
}
@media only screen and (max-width: 768px)
{
    .modal-box{
        flex-direction: column;
    }
    *{
        font-size: 70%;
    }
    .banner-img-suggest{
        width: 100%;
        height: 20vh;
        display: none;
    }
    .input-suggest-flexbox{
        flex-direction: column;
    }
    .modal-div{
        width: 100%;
    }
    .suggest-textarea{
        width: 100%;
    }
}

